* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clear {
    clear: both;
}

body {
    background-color:#F8E1DB;
}

.header {
    padding-bottom: 10px;
}

.header a:hover {
    color: #E87051;
}

.header a {
    text-decoration: none;
    color: black;
}

.header .header__container {
    width: 1000px;
    margin: 0 auto;
}

.header .header__menulist .header__item {
    display: inline-block;
}

.header .header__menulist {
    margin-top: 10px;
}

.header .header__logo a img {
    margin-top: 10px;
}

.header .header__menulist li {
    margin-right: 20px;
}

.banner {
    background-image: url(./BG.png);
    background-size: cover;
    background-position: center;
    height: 650px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.carousel {
    display: flex;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
}

.carousel .carousel__item {
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.activities {
    margin-top: 200px;
   
}

.activities .activities__title {
    margin-top: 10px;
    text-align: center;
}

.activities .activities__list-item {
    display: flex;
}

.activities .activities__item {
    text-align: center;
}

.activities .activities__item {
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 5px;
    position: relative;
}

.activities .activities__item h1 {
    font-size: 15px;
}

.activities .activities__item button {
    background-color:lavender;
    padding: 3px 8px;
    border-radius: 10px;
    color:gray;
    margin-top: 15px;
}

.activities .activities__item .item-icon {
    background-color:rgba(255, 255, 250, 0.3);
    padding: 10px;
    border-radius: 10px;
    top: 10%;
    left: 75%;
    position: absolute;
    
}

.activities .activities__button {
    text-align: center;
}

.activities .activities__button button {
    border: 1px solid #E87051;
    padding: 10px 70px;
    border-radius: 10px;   
}

.contact {
    background-color:darkgray;
    border-radius: 20px;
    margin-bottom: 100px;
    overflow: hidden;   
}

.contact .contact__left,.contact__right {
    float: left;
    width: 50%;
    padding: 10px 0;
}

.contact .contact__left {
    background: url(/mask.png);
    background-size: cover;
    background-position: center;
}

.contact .contact__right {
    padding-top: 70px;
    
    
}

.contact .contact__right p{
    margin: 12px 0 30px;
    
    
}

.contact .contact__right h3{
    margin-bottom: 21px;
    
    
}

.contact .contact__app,.contact__us {
    float: left;
    width: 15%;
    
}

.contact .contact__us i{
    color:#e76f51;
    font-size: 25px;
    margin-right: 10px;
}

.footer {
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 20px;
    background-color:darkgray;
}

.footer .footer__left {
    width: 40%;
}

.footer .footer__left .footer__container {
    margin-left: 40px;
}

.footer .footer__right {
    width: 60%;
}

.footer .footer__right .footer__item ul li {
    list-style: none;
}

.footer .footer__right .footer__item h1 {
    font-size: 18px;
}

.footer .footer__right .footer__item {
    margin-right: 50px;
}

.footer .footer__right .footer__list-item {
    margin-left: 100px;
    display: flex;
}


.web {
    text-align: center;
    margin-bottom: 50px;
}